<div class="flex justify-center">
  <div class="space-y-5">
    <div class="px-4 mt-7">
      <a href="#" aria-label="Brand">
        <img
          class="h-16 max-w-xl shadow-2xl rounded-2xl border border-b-gray-500"
          src="../../../assets/logo.png"
          alt="ThreadTalkLogo"
        />
      </a>
    </div>

    <nav>
      <ul class="space-y-1.5 flex flex-col items-start">
        <li>
          <a
            class="cursor-pointer flex items-center font-bold text-thread-font gap-x-4 py-2 px-4 text-xl rounded-xl hover:bg-thread-hover hover:dark:bg-neutral-700 dark:text-white"
            (click)="reloadPage()"
            routerLink="/d/home"
            routerLinkActive="bg-thread-hover"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-house"
            >
              <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
              <path
                d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
              />
            </svg>
            Home
          </a>
        </li>
        <li></li>
      </ul>

      <div class="mt-10">
        <hr />
      </div>

      <div class="flex items-start">
        <button
          class="flex items-center font-bold text-red-500 gap-x-4 py-2 px-4 text-lg rounded-xl hover:bg-red-50 hover:dark:bg-neutral-700"
          (click)="logout()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-log-out"
          >
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
            <polyline points="16 17 21 12 16 7" />
            <line x1="21" x2="9" y1="12" y2="12" />
          </svg>
          Sign Out
        </button>
      </div>
    </nav>
  </div>
</div>
