<div
  class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-neutral-800"
>
  <div
    class="max-w-lg w-full bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-neutral-900 dark:border-neutral-700"
  >
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">
          Reset Password
        </h1>
      </div>

      <!-- here to display if there is any error, warning or success in the form to be submitted -->
      <div class="my-5">
        <app-error *ngIf="this.error" [message]="this.message" />
        <app-success *ngIf="this.success" [message]="this.message" />
      </div>
      <!-- ends here -->

      <!-- Form -->
      <form
        #passwordResetForm="ngForm"
        (ngSubmit)="onSubmit(passwordResetForm)"
      >
        <div class="grid gap-y-4">
          <!-- Form Group -->
          <div>
            <label for="password" class="block text-sm mb-2 dark:text-white"
              >Password</label
            >
            <div class="relative">
              <input
                type="password"
                id="password"
                name="password"
                ngModel
                #password="ngModel"
                [ngClass]="{
                  'border-red-500 dark:border-red-400':
                    password.invalid && password.touched
                }"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                required
                [minlength]="8"
              />
              <div *ngIf="password.invalid && password.touched">
                <small
                  *ngIf="password.errors?.['required']"
                  class="text-red-500"
                  >Password is required.</small
                >
                <small
                  *ngIf="password.errors?.['minlength']"
                  class="text-red-500"
                  >Password must be 8 characters long.</small
                >
              </div>
            </div>
          </div>
          <!-- End Form Group -->

          <!-- Form Group -->
          <div>
            <label
              for="confirm-password"
              class="block text-sm mb-2 dark:text-white"
              >Confirm Password</label
            >
            <div class="relative">
              <input
                type="password"
                id="confirm_password"
                name="confirm_password"
                ngModel
                #confirm_password="ngModel"
                [ngClass]="{
                  'border-red-500 dark:border-red-400':
                    (confirm_password.invalid && confirm_password.touched) ||
                    (confirm_password.touched &&
                      confirm_password.value !== password.value)
                }"
                class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                required
              />
              <div
                *ngIf="
                  (confirm_password.invalid && confirm_password.touched) ||
                  (confirm_password.touched &&
                    confirm_password.value !== password.value)
                "
              >
                <small
                  *ngIf="confirm_password.errors?.['required']"
                  class="text-red-500"
                  >Confirm password is required.</small
                >
                <small
                  *ngIf="
                    confirm_password.value !== password.value &&
                    confirm_password.value.length > 0
                  "
                  class="text-red-500"
                  >Password does not match.</small
                >
              </div>
            </div>
          </div>
          <!-- End Form Group -->

          <button
            type="submit"
            class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
          >
            Sign in
          </button>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
</div>
